@media (min-width: 0px) and (max-width: 464px) {
  .navbar .container {
    padding: 0px, 10px;
  }
}
@media (min-width: 0px) and (max-width: 579px) {
  .banner-content .banner-caption h1 {
    font-size: 20px;
    width: 400px;
    text-align: center;
  }
  .banner-content .banner-caption h2 {
    font-size: 22px;
  }
}
@media (min-width: 0px) and (max-width: 534px) {
  .search-list form {
    display: flex;
    flex-direction: column;
  }
  .search-list form button {
    margin: 12px 0px;
    width: 50%;
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .banner-content .hero-banner img {
    width: 100% !important;
    height: auto !important;
  }
  .cart-item-section .empty-cart-message img,
  .search-list img {
    width: 100% !important;
    height: auto !important;
  }
}
